<div class="parent text-center ">
    <div class="text-uppercase mb-3 fs-1 fw-bolder">ABOUT COMPONENT</div>
    <div class="content d-flex justify-content-center align-items-center m-2 px-3">
        <div class="line"></div>
        <i class="fa-solid fa-star text-white "></i>
        <div class="line"></div>
    </div>

    <div class="row px-5 fs-6">
        <div class="col-md-6  ps-md-5">
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </div>
        <div class="col-md-6 pe-5">
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </div>
    </div>
    <div class="p-5">

    </div>
</div>
