<div class="container">
    <div class=" text-center m-3">
        <div class="text-uppercase mb-3 fs-1 fw-bolder">PORTFOLIO COMPONENT</div>
        <div class="content d-flex justify-content-center align-items-center m-2 px-3">
            <div class="line"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line"></div>
        </div>
    </div>
    <form class="w-50 p-3 mx-auto mt-5 ng-pristine ng-valid ng-touched">
        <input id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 m-2 position-relative ng-pristine ng-valid ng-touched" />
        <input id="userAge" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-3 m-2 position-relative ng-pristine ng-valid ng-touched">
        <input id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-3 m-2 position-relative ng-pristine ng-valid ng-touched">
        <input id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3 m-2 position-relative ng-pristine ng-valid ng-touched">
        <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
    </form>
</div>
