<div class="parent">

    <div class="layer text-center">


        <img class="rounded bg-transparent rounded-circle w-25" src="/assets/images/avataaars.svg">
        <div class="text-uppercase mb-3 fs-1 fw-bolder">Start Framework</div>
        <div class="content d-flex justify-content-center align-items-center m-2 px-3">
            <div class="line"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line"></div>
        </div>
        <div class="fs-5">Graphic Artist - Web Designer - Illustrator</div>

    </div>
</div>
